.scrollable {
  display: grid;
  grid-template-columns: 1fr 0;
  grid-template-rows: 1fr 0;

  &__content {
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .scrollable__scrollbar_horizontal {
    visibility: hidden;
  }

  .scrollable__scrollbar_vertical {
    visibility: hidden;
  }

  &_has-horizontal-scrollbar {
    grid-template-rows: 1fr auto;
    row-gap: 2px;

    .scrollable__scrollbar_horizontal {
      visibility: visible;
    }
  }

  &_has-vertical-scrollbar {
    grid-template-columns: 1fr auto;
    column-gap: 2px;

    .scrollable__scrollbar_vertical {
      visibility: visible;
    }
  }

  &_show-mouse-on-hover {
    @media (hover: hover) {
      .scrollable__scrollbar {
        visibility: hidden;
      }

      &:hover {
        .scrollable__scrollbar {
          visibility: visible;
        }
      }
    }
  }
}